.tag-input {
  display: flex;
  flex-wrap: wrap;
  min-height: 48px;
  padding: 0 6px;
  border: 1px solid #51545a;
  color: #b6b9dd;
  border-radius: 6px;
  box-shadow: 9px 9px 9px -4px #A9A9A9;
  overflow: scroll;
  height: 100px;
  width: 400px;
}

.tag-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0;
  background: none;
  text-align: center;


}

.tag-input input:focus {
  outline: transparent;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #9baac4;
  color: rgb(150, 144, 144);
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #47474b;
}

/* multipule */
.tag-title {
  margin-top: 3px;
}

.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}